@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  background: #ffffff; /* Фоновый цвет - бело-пурпурные тона */
}

#users-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 1em;
}

mat-card.user-item {
  margin: 1em;
  padding: 1em;
  background-color: #ffffff; /* Фоновый цвет карточки - белый */
  border: 1px solid #ddd;
  border-radius: 5px;
  text-align: center;
  width: 300px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Тень для плоского дизайна */
  display: flex;
  align-items: center;
}

.user-item img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 0.5em;
  object-fit: cover;
}

.user-info h3 {
  font-size: 1.5em; /* Увеличиваем размер шрифта для имени пользователя */
}

.user-info p {
  font-size: 1em;
  color: #555; /* Цвет текста информации о пользователе */
}

.buttons-container {
  display: flex;
  align-items: center;
}

.buttons-container h3 {
  margin-right: 1em;
}

mat-icon {
  color: #fff; /* Цвет иконок */
}

.simpleLink {
  text-decoration: none;
  color: inherit;
}

#users-container button {
  margin-top: 8px; /* Отступ между кнопками */
}
