<mat-toolbar color="accent">
  <div class="buttons-container">
    <h3>Список пользователей</h3>
    <a mat-icon-button [routerLink]="['/news-feed']"><mat-icon>article</mat-icon></a>
    <a mat-icon-button [routerLink]="['/chats']"><mat-icon>chat</mat-icon></a>
    <a mat-icon-button [routerLink]="['/user', userService.user.id]"><mat-icon>home</mat-icon></a>
  </div>
  <button mat-icon-button (click)="AuthService.logout()">
    <mat-icon>exit_to_app</mat-icon>
  </button>
</mat-toolbar>

<section id="users-container">
  <mat-card *ngFor="let user of users" class="user-item">
    <img alt="{{user.image}}" [src]="user.image">
    <a [routerLink]="['/user/' + user.id]" class="simpleLink">
      <div class="user-info">
        <h3>{{ user.name }}</h3>
        <p>{{ user.email }}</p>
      </div>
    </a>
    <p>
      <button mat-button color="primary" *ngIf="user.id !== userService.user.id && !userService.user.friends.includes(user.id)" (click)="userService.addFriend(user.id)">Добавить в друзья</button>
      <button mat-button color="warn" *ngIf="user.id !== userService.user.id && userService.user.friends.includes(user.id)" (click)="userService.deleteFriend(user.id)" >Удалить из друзей</button>
    </p>
  </mat-card>
</section>
