/* You can add global styles to this file, and also import other style files */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

body {
  font-family: 'Yanone Kaffeesatz', serif;
  margin: 0;
  padding: 0;
  background: #ffffff;
}

header {
  background-color: black;
  color: white;
  padding: 20px;
  text-align: center;
  height: 60px;
}

#users-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 1em;
}

.user-item img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 0.5em;
  object-fit: cover;
}

.user-item .user-info {
  font-size: 1.2em;
}

#user-info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2em;
}

#user-info .user-details {
  text-align: left;
}

#user-info img {
  width: 400px;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Yanone Kaffeesatz', serif;
}

mat-toolbar{
  display: flex;
  justify-content: space-between;
  font-family: "Yanone Kaffeesatz", serif;
  background: black;
  color: white;
  border: black 2px;
  border-radius: 15px;
}

.buttons-container{
  display: flex;
  align-items: center;
}

