mat-card.user-card {
  border-radius: 8px; /* Скругленные края */
  margin: 20px; /* Небольшой отступ между карточками */
}

mat-card-title, mat-card-actions{
  padding: 15px;
}

img{
  height: 150px;
  width: 150px;
  border-radius: 50%;
}

.user-card-image{
  display: flex;
  justify-content: center;
}
